#imagenlog{
    max-width:40px;
    margin-top: -4px;
    margin-bottom: -8px;
}

.cars{
    margin-top: 5%;
}

.sair{
    position: absolute;
    bottom: 0%;
}

.myBg{
    background-color: rgb(0,84,170);
}

  #ImgBlitz{
    max-width:110px;
    margin-top: 10px;
    margin-left: 15px;
}
.email-text{
    color: white;
}

